name: Generate Pacman Game

on:
  schedule:
    - cron: "0 */24 * * *" # jalan setiap 24 jam sekali
  workflow_dispatch:       # bisa dijalankan manual lewat tombol "Run workflow"
  push:                    # jalan setiap ada push ke branch main
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # Push hasil generate ke branch output
      - name: Push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
